@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

body {
    font-family: "Open-Sans", sans-serif;
    font: 14px;
    margin: 20px;
  }


.game {
    margin: 10%;
    margin-top: 5%;
    text-align:center;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 12px;
    /* font-weight: bold; */
    height: 90px;
    text-align: center;
    width: 70px;
    border-radius: 5px;
    margin: 1px;
  }

  .status {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .scoreboard {
    display: flex;
    justify-content: space-between;
}

.matchedBoard {
    text-align: center;
}

.matchedBoardScore {
    font-weight: 300;
}